@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 100%;
    color: #282830;
}

p,
dt,
dd {
    max-width: 60ch;
    font-size: 1.1875rem;
}

dt {
    font-weight: 700;
}

h1,
h2,
h3 {
    margin-top: 1rem;
    margin-bottom: .25rem;
    line-height: 1.1;
    letter-spacing: .125rem;
    color: #3c595f;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

.counter {}